EXPO_PUBLIC_FIREBASE_API_KEY=secretApiKey
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=example.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=example
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=example.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=firebaseSenderId
EXPO_PUBLIC_FIREBASE_APP_ID=x:xxxxxxxxxxxx:web:1xx1x11xx1x11xxxxx11x1